{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Login</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'isell/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'isell/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'isell/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'isell/css/theme.css' %}" rel="stylesheet" media="all">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
    height: 70px;
    width: 70px;
  font-size: 30px; /* 1:1 Aspect Ratio */
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }
</style>
</head>

<body class="animsition">

    <section id="header" class="header">
				
			<div class="header-middle">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div id="logo" class="logo">
								<a href="index.html" title="">
									<img src="{% static 'images/logos/logo.png' %}" alt="">
								</a>
							</div><!-- /#logo -->
						</div><!-- /.col-md-3 -->
						<!-- /.col-md-3 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.header-middle -->
				<!-- /.header-bottom -->
			</section><!-- /#header -->


    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content" style="margin-top: 60px">
                        <div class="login-logo">
                            <a href="#">
                                <a href=""  style="font-size:x-large;color: black" >WELCOME BACK</a>
                            </a>
                        </div>

                           {% if messages %}

                                {% for message in messages %}
                                     <div class="alert alert-danger">
                                <strong>Danger!</strong> {{ message }}
                              </div>
                            {#    <h6  style="color: red;text-align: center" class="{{ message.tags }}">{{ message }}</h6>#}
                                {% endfor %}

                            {% endif %}

                        <div class="login-form">
                            <form action="{% url 'registration:login' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Username</label>
                                    <input class="au-input au-input--full" type="text" name="username" placeholder="username" required>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="au-input au-input--full" type="password" name="password" placeholder="Password" required>
                                </div>

{#                                #}
{#                                <div class="login-checkbox">#}
{#                                    <label>#}
{#                                        <input type="checkbox" name="remember">Remember Me#}
{#                                    </label>#}
{#                                    <label>#}
{#                                        <a href="#">Forgotten Password?</a>#}
{#                                    </label>#}
{#                                </div>#}
                                <div class="col-md-12 form-group">
                                    <a href="{% url 'registration:forgot_password' %}"><u>Forgot Password?</u></a>
                                                                </div>
                                <button class="au-btn au-btn--block au-btn--blue m-b-20" type="submit">login</button>

                            </form><br>
                            
                            <a style="float: right" href="{% url 'registration:signup' %}">Sign up</a><br>

                            <div style="text-align: center">
								<a href="{% url 'social:begin' 'google-oauth2' %}" style="color: white" class="fa fa-google" ></a>

                                <a href="{% url 'social:begin' 'facebook' %}" style="color: white" class="fa fa-facebook"></a>

                                <a href="{% url 'social:begin' 'twitter' %}" style="color: white" class="fa fa-twitter"></a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{% static 'isell/vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'isell/vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'isell/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'isell/vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'isell/vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'isell/vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'isell/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'isell/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'isell/vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'isell/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'isell/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'isell/vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'isell/vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'isell/js/main.js' %}"></script>

</body>

</html>
<!-- end document-->