{% load static %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
	<link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Profile</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- CSS Files -->
    <link href={% static 'assets/css/bootstrap.min.css' %} rel="stylesheet" />
	<link href={% static 'assets/css/gsdk-bootstrap-wizard.css' %} rel="stylesheet" />

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="{% static 'assets/css/demo.css' %}" rel="stylesheet" />
</head>

<body >

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'isell:isell_home' %}">IChoose</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="position: absolute; right: 100px; top: 15px">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      {% if user.is_authenticated %}
          <a href="{% url 'ichoose:profile' %}" class="nav-item nav-link" title=""> Account </a>
          <a href="{% url 'registration:logout' %}" class="nav-item nav-link" title=""> logout </a>
      {% else %}
          <a href="{% url 'registration:login' %}" class="nav-item nav-link" title=""> Login </a>
          <a href="{% url 'registration:signup' %}" class="nav-item nav-link" title="">Sign up</a>

      {% endif %}
    </div>
  </div>
</nav>

</div>

<div class="line" style="background-color: black;width: 100%;height: 1px;position: absolute;top: 60px"></div>

<div class="image-container set-full-height" style="background-image: {% static 'assets/img/wizard.jpg' %}" >
    <!--   Big container   -->
    <div class="container" style="position: absolute;top: 30px;left: 150px;height: 500px">
        <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <!--      Wizard container        -->
            <div class="wizard-container">

                <div class="card wizard-card" data-color="orange" id="wizardProfile">
                    <form action="" method="">
                <!--        You can switch ' data-color="orange" '  with one of the next bright colors: "blue", "green", "orange", "red"          -->

                    	<div class="wizard-header">
                        	<h3>
                        	   <b>BUILD</b> YOUR PROFILE <br>
                        	   <small>This information will let us know more about you.</small>
                        	</h3>
                    	</div>

						<div class="wizard-navigation">
							<ul>
	                            <li><a href="#about" data-toggle="tab">About</a></li>
	                        </ul>

						</div>

                        <div class="tab-content">
                            <div class="tab-pane" id="about">
                              <div class="row">
                                  <h4 class="info-text" style="padding-left: 100px"> Let's start with the basic information (with validation)</h4>
                                  <div class="col-sm-4 col-sm-offset-1">
                                     <div class="picture-container">
                                          <div class="picture">
                                              <img src="{% static 'assets/img/default-avatar.png' %}" class="picture-src" id="wizardPicturePreview" title=""/>
                                              <input type="file" id="wizard-picture">
                                          </div>
                                          <h6>Choose Picture</h6>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                        <label>Name <small>(required)</small></label>
                                        <input name="{{ profile.username }}" type="text" class="form-control" placeholder="Name">
                                      </div>
                                      <div class="form-group">
                                        <label>Mobile Number <small>(required)</small></label>
                                        <input name="{{ profile.mobile }}" type="text" class="form-control" placeholder="Last Name">
                                      </div>
                                      <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control" name="{{ profile.address }}" placeholder="Address">
                                      </div>
                                  </div>
                                  <div class="col-sm-10 col-sm-offset-1">
                                      <div class="form-group" style="width: 250px">
                                            <label>Product Count</label>
                                            <input type="number" class="form-control" name="{{ len_product }}" placeholder="Product Count">
                                      </div>
                                      <div class="form-group" style="width: 250px;position: absolute;right: 20px;top: 0px">
                                            <label>Order Count</label>
                                            <input type="number" class="form-control" name="{{ len_order }}" placeholder="Order Count">
                                      </div>
                                  </div>
                                  <div class="col-sm-10 col-sm-offset-1">
                                      <div class="form-group">
                                          <label>Email <small>(required)</small></label>
                                          <input name="{{ profile.email }}" type="email" class="form-control" placeholder="anything@gmail.com">
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="wizard-footer height-wizard">
                            <div class="pull-right">
                                <input type='button' class='btn  btn-fill btn-warning btn-wd btn-sm' name='finish' value='Finish' />
                            </div>

                            <div class="pull-left" style="padding-top: -20px;">
                                <button style="height: 30px" class='btn  btn-fill btn-default btn-wd btn-sm' href="{% url 'loan_interface:wallet' %}" value='wallet'>Wallet</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div> <!-- wizard container -->
        </div>
        </div><!-- end row -->
    </div> <!--  big container -->

</div>

</body>

	<!--   Core JS Files   -->
	<script src='{% static 'assets/js/jquery-2.2.4.min.js' %}' type="text/javascript"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/jquery.bootstrap.wizard.js' %}" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="{% static 'assets/js/gsdk-bootstrap-wizard.js' %}"></script>

	<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
	<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>


</html>
